/***********************************************
GENERAL
***********************************************/



/***********************************************
FONTS & TEXT
***********************************************/



/***********************************************
NAVIGATION - Navbat
***********************************************/



/***********************************************

***********************************************/



/***********************************************

***********************************************/



/***********************************************
COLOURS
***********************************************/

/*
// 38112D - header/intro
// & contact
// 231429 - nav/footer & projects
// 18131C - about
// EB013B - redness
// ECDCDC - off-white
*/

.main-body {
  background-color: #38112D;
  /*color: #ECDCDC;*/
}

h1, h2, h3, h4, h5, h6, p {
  color: #ECDCDC;
}

/********** Navbar **********/

.navbar {
  background-color: #231429;
  border: none;
  /*color: #ECDCDC;*/
}

/*Links {
  color: #EB013B;
}
*/

p.navbar-text.navbar-right {
  color: #ECDCDC;
}

/***********************************************
MEDIA QUERIES
***********************************************/



